@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  transition-duration: 0.3s;
  animation-duration: 0.3s;
  font-family: var(--font-yakan);
}
body{
  direction: rtl;
}