@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  transition-duration: 0.1s;
  animation-duration: 0.1s;
  font-family: var(--font-yakan);
}
:root {
  --background: #fff;
  --border: #e4e4e7;
  --foreground: #09090b;
}
body {
  direction: rtl;
}

.bg-background {
  background-color: var(--background);
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  display: flex;
  height: 2.75rem;
  width: 2.75rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  border-color: var(--border);
  background-color: var(--background);
  color: var(--foreground);
}

@media (max-width: 768px) {
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    height: 1.5rem;
    width: 1.5rem;
  }
  .commentSwiper .swiper-button-next,
  .commentSwiper .swiper-button-prev {
    top: 70% !important;
  }
}

.swiper .swiper-button-next:after,
.swiper .swiper-button-prev:after {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.swiper .swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-3d .swiper-slide-shadow {
  background: transparent !important;
}
.commentShadow {
  box-shadow: 0px 16px 23px -11px #10101017;
}
